<div class="opinion">
    <div class="cabecera">
        <div class="star">
            <span class="material-symbols-outlined " [ngClass]="{'starColor': reviews?.rate!>= 1, 'starColorDisable': reviews?.rate!< 1}" >star</span>
            <span class="material-symbols-outlined " [ngClass]="{'starColor': reviews?.rate!>= 2, 'starColorDisable': reviews?.rate!< 2}">star</span>
            <span class="material-symbols-outlined " [ngClass]="{'starColor': reviews?.rate!>= 3, 'starColorDisable': reviews?.rate!< 3}">star</span>
            <span class="material-symbols-outlined " [ngClass]="{'starColor': reviews?.rate!>= 4, 'starColorDisable': reviews?.rate!< 4}">star</span>
            <span class="material-symbols-outlined " [ngClass]="{'starColor': reviews?.rate!>= 5, 'starColorDisable': reviews?.rate!< 5}">star</span>
        </div>
        <div class="fecha">{{reviews?.date_created}}</div>
    </div>
    <div class="contenido">
        <div class="titulo">
            <h3>{{reviews?.title}}</h3>
        </div>
        <div class="cuerpo">
            {{reviews?.content}}
        </div>
    </div>
    <div class="footer">
        <p><span class="material-symbols-outlined likesIcon">thumb_up</span> {{reviews?.likes}}</p>
        <p><span class="material-symbols-outlined likesIcon" style="color: rgb(243, 63, 63)">thumb_down</span>{{reviews?.dislikes}}</p>
    </div>
    

</div>
