<div class="contenido">
    <div class="titulo">
        <h1>Configuración Seller</h1>
    </div>
    <div class="cuerpo">
        <div class="menu">
            <div class="formUser">

                <form class="example-form">
                    <mat-form-field class="example-full-width">
                      <mat-label>Nombre</mat-label>
                      <input matInput  value="Nombre">
                    </mat-form-field>
                  
                    <mat-form-field class="example-full-width">
                        <mat-label>Nombre</mat-label>
                        <input matInput  value="Nombre">
                      </mat-form-field>
                      <mat-form-field class="example-full-width">
                        <mat-label>Nombre</mat-label>
                        <input matInput  value="Nombre">
                      </mat-form-field>
                      <mat-form-field class="example-full-width">
                        <mat-label>Nombre</mat-label>
                        <input matInput  value="Nombre">
                      </mat-form-field>
                  </form>
            </div>
           
            <a mat-raised-button color="primary" href="https://auth.mercadolibre.com.ar/authorization?response_type=code&client_id=4307499038303094&redirect_uri=https://localhost:4200/dashboard/authorization-ml&code_challenge=pmWkWSBCL51Bfkhn79xPuKBKHz__H6B-mY6G9_eieuM&code_challenge_method=S256">Vincular con MercadoLibre</a>
            <button mat-raised-button color="accent">Cambiar contraseña</button>
            <button mat-raised-button color="warn">Borrar Cuenta</button>
            
        </div>
        
    </div>
    <div class="comentario">
        <form class="example-form">
            <h2>¿ Encontraste un problema ?</h2>
            <p></p>
          
            <mat-form-field class="example-full-width">
              <mat-label>Leave a comment</mat-label>
              <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
            </mat-form-field>
          </form>
    </div>
</div>

