<div class="contenedor">
  <div class="cabeceraMetricas">
    <div class="bloque">bloque metrica 1</div>
    <div class="bloque">bloque metrica 2</div>
    <div class="bloque">bloque metrica 3</div>
    <div class="bloque">bloque metrica 4</div>
  </div>
  <div class="contenidoMetricas">
    <div style="width: 500px; margin: 5px;">
      <app-user-global-metric [metricas]="metricsUser"></app-user-global-metric>
    </div>
    
  </div>

</div>




<!-- <div style="margin: 15px;">
    <mat-grid-list [cols]="cols$ | async" rowHeight="25rem" gutterSize="20px" >
    <mat-grid-tile ><app-user-global-metric [metricas]="metricsUser" style="width: 97%;"></app-user-global-metric></mat-grid-tile>
    <mat-grid-tile><app-chart-prueba style="width: 100%; justify-content: center;"></app-chart-prueba></mat-grid-tile>
    <mat-grid-tile><app-user-global-metric [metricas]="metricsUser" style="width: 97%;"></app-user-global-metric></mat-grid-tile>
    <mat-grid-tile><app-user-global-metric [metricas]="metricsUser" style="width: 97%;"></app-user-global-metric></mat-grid-tile>
  </mat-grid-list>
  <app-top-item-categorie style="margin: 5px;"></app-top-item-categorie>
</div> -->

